/*----------------------------MOBILE-------------------------*/
@media(max-width: 800px){
    body{
        width: 95%;
    }
    /*----------HEADER------------*/
    nav{
        flex-direction: column;
        align-items: stretch;
        height: 250px;
    }
    nav div{
        border-bottom: 1px solid rgb(190, 190, 190);
        box-sizing: border-box;
        flex: 5;
    }
    nav .search-string{
        flex: 1;
        background: none;
    }
    nav > :first-child, nav > :last-child{
        border-bottom: none;
    }
    nav a{
        align-items: center;
        padding-left: 20px;
    }
    /*---------MAIN-----------*/
    main{
        flex-direction: column;
    }
    .post-sub-section, .post-sub-container{
        flex-direction: column;
    }
    .shadow-box{
        box-shadow: 0px 10px 20px -5px;
    }
    .post{
        margin: 10px 0;
    }
}
/*----------------------------TABLET--------------------------*/
@media(min-width: 800px){
    body{
        width: 95%;
        height: 100%;
        font-size: 0.8em;
    }
    /*----------HEADER------------*/
    nav{
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    nav div{
        flex: 1;
        margin: 0 5px;
    }
    nav .search-string{
        flex: 5;
        background-color: #8ad1a9;
    }
    nav a{
        padding: 10px 0;
        justify-content: center;
    }
    .home{
        order: 1;
        margin-left: 0;
    }
    .contacts{
        order: 2;
    }
    .about-me{
        order: 3;
    }
    .partners{
        order: 4;
    }
    .search-string{
        order: 5;
    }
    .sign-in{
        order: 6;
        margin-right: 0;
    }
    /*---------SECTION----------*/
    main{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .post-box, .post-container{
        width: calc(50% - 10px);
        margin-top: 30px;
        justify-content: space-between;
    }
    .post-container > div{
        flex: 1;
    }
    main > :first-child{
        margin-right: 10px;
    }
    main > :last-child{
        margin-left: 10px;
    }
    .post-content{
        justify-content: space-between;
        flex: 1;
    }
    .post-box .post{
        margin-top: 20px;
        flex: 1;
    }
    .post-box > :first-child{
        margin-top: 0;
    }
    .post-container > div{
        margin-top: 20px;
    }
    .post-container > :first-child{
        margin-top: 0;
    }
    .post-sub-container{
        flex-direction: row;
    }
    .post-sub-div{
        width: 50%;
        flex-direction: row;
        align-items: stretch;
    }
    .content-sub-div{
        width: 50%;
    }
    .post-sub-div .post, .content-sub-div .post{
        margin-top: 20px;
    }
    .post-sub-div > :first-child, .content-sub-div > :first-child{
        margin-top: 0;
    }
    .post-sub-container > :first-child{
        margin-right: 10px;
    }
    .post-sub-container > :last-child{
        margin-left: 10px;
    }
}

/*----------------------------------------DESKOP----------------------------------*/
@media(min-width: 1000px){
    body{
        max-width: 1200px;
        font-size: 1em;
    }
    /*----------HEADER------------*/
    .search-string{
        flex: 7;
    }
    /*-----------MAIN-------------*/
    .post-box{
        width: calc(25% - 10px);
        margin-top: 30px;
        justify-content: space-between;
    }
    .post-container{
        width: calc(75% - 10px);
        margin-top: 30px;
        justify-content: space-between;
    }
    .post-container > div{
        flex: 1;
    }
    main > :first-child{
        margin-right: 10px;
    }
    main > :last-child{
        margin-left: 10px;
    }
    .post-sub-div{
        flex: 2;
    }
    .content-sub-div{
        flex: 1;
    }
    .post-sub-section > .post{
        flex-direction: row;
        align-items: stretch;
        flex: 1;
    }
    .post-sub-section .image-wrapper{
        order: 2;
        flex: 9;
    }
    .post-sub-section .post-content{
        order: 1;
        flex: 10;
    }
    .post-sub-div .post > div{
        flex: 1;
    }
    .post-sub-container .post-content{
        justify-content: space-between;
    }
}